* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* BG */
body {
  width: 100vw;
  height: 100vh;
  background-color: darkcyan;
  background-image: url('road01.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}


/* Car Shell */
.car-container {
  width: 400px;
  position: relative;
  top: 50%;
  transform: translateY(-60%);
  left: -100%;
  animation: example 5s linear 0s infinite;

}

@keyframes example {
  0%   {left:-100%;}
  40% {left: 30%;}
  60% {left: 30%;}
  100%  {left:100%;}
}




/* Top Third of Car */
.car-top {
  width: 120px;
  height: 140px;
  transform: scale(2, .75);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.top-back {
  background-color: #E8650C;
  height: 80%;
  width: 40%;
  border-radius: 50px 10px 0px 100px;
  transform: translate(-32px, 141px) skewY(-40deg);
  overflow: hidden;
}

.top-mid {
  background-color: #E8650C;
  height: 80%;
  width: 40%;
  transform: translate(-20px, 122px)scaleX(1.8);
  border-radius: 10px 10px 0px 0px;
}

.top-front {
  background-color: #E8650C;
  height: 80%;
  width: 40%;
  border-radius: 50px 50px 100px 0px;
  transform: translate(-20px, 130px) skewY(40deg);
}

.rear-window {
  width: 30px;
  height: 30px;
  background-color: #888;
  position: relative;
  top: -12px;
  left: -5px;
  transform: rotate(60deg);
}

.back-window {
  width: 50%;
  height: 30%;
  background-color: #888;
  border-radius:  10px 3px 4px 0px;
  transform: translate(3px, 10px) skewY(-0deg);
  position: absolute;
}

.front-window {
  width: 33%;
  height: 24%;
  background-color: #888;
  border-radius:  3px 30px 4px 0px;
  transform: translate(52px, 133px) skewY(-0deg);
  position: absolute;
  z-index: 100;
}




/* Middle Third of Car */
.car-mid {
  width: 96%;
  height: 60px;
}

.car-body {
  height: 100%;
  border-radius:  40px 100px 30px 20px ;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  overflow: hidden;
}

.car-hood-container {
  height: 100%;
  width: 110px;
  overflow: hidden;
}

.car-hood {
  height: 100%;
  width: 110px;
  background-image: linear-gradient(#E8650C, #FFA500 30%);
  border-radius:  0px 40px 15px 0px ;
  position: relative;
  overflow: hidden;
  left: -10px;
}

.headlight {
  width: 35px;
  height: 14px;
  background-color: #fff;
  position: absolute;
  top: 16px;
  right: 0;
  transform: skew(30deg, 10deg);
  border-radius: 4px 24px 0 4px;
}

.grill {
  width: 40px;
  height: 10px;
  background-color: #888;
  position: absolute;
  top: 45px;
  right: -20px;
  transform: skewX(-24deg);
  border-radius: 4px 0 0 4px
}

.car-door {
  background-image: linear-gradient(#E8650C, #FFA500 30%);
  height: 100%;
  width: 25%;
}

.front-door {
  height: 90%;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  width: 100%;
}

.back-door {
  height: 90%;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  width: 100%;
}

.door-handle {
  width: 10px;
  height: 2px;
  background-color: #888;
  position: relative;
  top: 8px;
  left: 10px;
}

.car-trunk {
  height: 100%;
  width: 22%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
}

.trunk-tophalf {
  background-image: linear-gradient(#E8650C, #FFA500 60%);
  height: 50%;
  width: 94%;
  border-radius: 20px 0 0 0; 
  overflow: hidden;
}

.trunk-bottomhalf {
  height: 50%;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.bottomhalf-top {
  background-color: orange;
  height: 50%;
  transform: skewX(-30deg);
  border-radius: 0 0 0 5px;
}

.bottomhalf-bottom {
  background-color: orange;
  height: 50%;
  transform: skewX(30deg);
  border-radius: 0px 0 0 20px;
}

.trunklight {
  background-color: darkred;
  position: relative;
  animation: brake 5s linear infinite;
}

@keyframes brake{
  0% {background-color: darkred}
  35% {background-color: darkred; box-shadow: 0px 0px 0px transparent;}
  40% {background-color: red; box-shadow: 0px 0px 20px #fff;}
  60% {background-color: red; box-shadow: 0px 0px 20px #fff;}
  61% {background-color: darkred; box-shadow: 0px 0px 0px transparent;}
  100% {background-color: darkred}
}

.brakelight {
  height: 20px;
  width: 26px;
  top: 15px;
  left: -10px;
  transform: skewX(-30deg);
  border-radius: 8px 4px 2px 0;
}

.taillight {
  height: 6px;
  width: 16px;
  top: 10px;
  border-radius: 0 10px 10px 0;
}



/* Bottom Third of Car */
.car-bottom {
  width: 100%;
  height: 6px;
  position: relative;
  box-shadow:5px 20px 18px  #000;
}

.wheel-well {
  width: 70px;
  height: 70px;
  background-color: #888;
  border-radius: 50%;
  position: absolute;
  top: -45px;
  right: 38px;

}

.rear-wheel-well {
  left: 25px;
}

.wheel{
  width: 65px;
  height: 65px;
  background-color: #000;
  border-radius: 50%;
  top: 5px;
  left: 2.5px;
  position: relative;
  animation: spin 5s infinite linear;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  40%{transform: rotate(720deg);}
  40% {transform: rotate(720deg);}
  60% {transform: rotate(720deg);}
  100% {transform: rotate(1440deg);}
}

.outer-rim {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: #ccc;
}

.rim {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background: 
    linear-gradient(36deg, #ccc 42.34%, transparent 42.34%) 0 0,
    linear-gradient(72deg, #000 75.48%, transparent 75.48%) 0 0,
    linear-gradient(-36deg, #ccc 42.34%, transparent 42.34%) 100% 0,
    linear-gradient(-72deg, #000 75.48%, transparent 75.48%) 100% 0, 
    linear-gradient(36deg, transparent 57.66%, #000 57.66%) 100% 100%,
    linear-gradient(72deg, transparent 24.52%, #ccc 24.52%) 100% 100%,
    linear-gradient(-36deg, transparent 57.66%, #000 57.66%) 0 100%,
    linear-gradient(-72deg, transparent 24.52%, #ccc 24.52%) 0 100%, 
    #ccc linear-gradient(#000, #000) 50% 100%;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  transition: 1s
}

.rim-cap {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: #ccc;
}

.inner-rim-cap {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: #000;
}

