* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  background-color: darkcyan
}

.car-container {
  width: 400px;
  height: 400px;
  border: 2px solid red;
  margin: 0 auto;
  margin-top: 36px;
}

.car-shell {
  bordeR: 2px solid green;
}

.car-top {
  width: 70px;
  height: 60px;
  border-radius: 0px 100px 10px 0;
  background-color: orange;
  transform: scale(2, .75);
  margin: 0 auto;
}


/* Mid-Car */
.car-mid {
  width: 96%;
  height: 70px;
}

.car-body {
  height: 100%;
  border-radius:  40px 100px 30px 20px ;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  overflow: hidden;
}

.car-hood-container {
  height: 100%;
  width: 110px;
  overflow: hidden;
}

.car-hood {
  height: 100%;
  width: 110px;
  background-image: linear-gradient(#E8650C, #FFA500, #FFA500, #FFA500);
  border-radius:  0px 100px 30px 0px ;
  position: relative;
  overflow: hidden;
  left: -10px;
}

.headlight {
  width: 35px;
  height: 14px;
  background-color: #fff;
  position: absolute;
  top: 16px;
  right: 0;
  transform: skew(30deg, 10deg);
  border-radius: 4px 24px 0 4px;
}

.grill {
  width: 40px;
  height: 10px;
  background-color: #888;
  position: absolute;
  top: 45px;
  right: -20px;
  transform: skewX(-24deg);
  border-radius: 4px 0 0 4px
}

.car-door {
  background-image: linear-gradient(#E8650C, #FFA500, #FFA500, #FFA500);
  height: 100%;
  width: 25%;
}

.front-door {
  height: 90%;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  width: 100%;
}

.back-door {
  height: 90%;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  width: 100%;
}

.door-handle {
  width: 10px;
  height: 2px;
  background-color: #888;
  position: relative;
  top: 8px;
  left: 10px;
}

.car-trunk {
  height: 100%;
  width: 22%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
}

.trunk-tophalf {
  background-image: linear-gradient(#E8650C, #FFA500, #FFA500);
  height: 50%;
  width: 94%;
  border-radius: 20px 0 0 0; 
  overflow: hidden;
}

.trunk-bottomhalf {
  height: 50%;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.bottomhalf-top {
  background-color: orange;
  height: 50%;
  transform: skewX(-30deg);
  border-radius: 0 0 0 5px;
}

.bottomhalf-bottom {
  background-color: orange;
  height: 50%;
  transform: skewX(30deg);
  border-radius: 0px 0 0 20px;
}

.trunklight {
  background-color: red;
  position: relative;
}

.brakelight {
  height: 20px;
  width: 26px;
  top: 15px;
  left: -10px;
  transform: skewX(-30deg);
  border-radius: 8px 4px 2px 0;
}

.taillight {
  height: 6px;
  width: 16px;
  top: 10px;
  border-radius: 0 10px 10px 0;
}

/* Bottom-Car */
.car-bottom {
  width: 100%;
  height: 100px;
  position: relative;
}

.wheel-well {
  width: 70px;
  height: 70px;
  background-color: #888;
  border-radius: 50%;
  position: absolute;
  top: -45px;
  right: 38px;
}

.rear-wheel-well {
  left: 25px;
}

.wheel{
  width: 65px;
  height: 65px;
  background-color: #000;
  border-radius: 50%;
  top: 5px;
  left: 2.5px;
  position: relative;
}

.wheel:hover {
  transform: rotate(180deg);
}

.outer-rim {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: #ccc;
}

.rim {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background: 
    linear-gradient(36deg, #ccc 42.34%, transparent 42.34%) 0 0,
    linear-gradient(72deg, #000 75.48%, transparent 75.48%) 0 0,
    linear-gradient(-36deg, #ccc 42.34%, transparent 42.34%) 100% 0,
    linear-gradient(-72deg, #000 75.48%, transparent 75.48%) 100% 0, 
    linear-gradient(36deg, transparent 57.66%, #000 57.66%) 100% 100%,
    linear-gradient(72deg, transparent 24.52%, #ccc 24.52%) 100% 100%,
    linear-gradient(-36deg, transparent 57.66%, #000 57.66%) 0 100%,
    linear-gradient(-72deg, transparent 24.52%, #ccc 24.52%) 0 100%, 
    #ccc linear-gradient(#000, #000) 50% 100%;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  transition: 1s
}

.rim-cap {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: #ccc;
}

.inner-rim-cap {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: #000;
}

